*{
    margin:5px;
    padding: 2px;
    
}

body {
    background-color: #f5f5f5;
}
h1, h2 {
    letter-spacing: 1px;
}
h3, h4 {
    margin: 0 0 10px;
}
a{
	color:#232323;
}
a:hover{
	color:#1a242e;
}

.footer-background, .imageHover, .popup-box h3, .sidebarWrapper, .social-media, .toggle-btn {
    text-align: center;
}
body {
    color: #3c3c3c;
    font: 300 14px open sans,sans-serif;
    letter-spacing: 0.5px;
    overflow-x: hidden;
}

.bg-color {
    background: #232323 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    font-weight: unset;
    line-height: 58px;
    padding: 0 12px;
    position: relative;
    text-transform: uppercase;
}
.section-title h2::after {
   background: #1a242e none repeat scroll 0 0;
    content: "";
    display: table;
    height: 2px;
    left: 28px;
    position: absolute;
    width: 40px;
}

.skill-outer h4 span {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: #a0a0a0;
    font: 600 13px open sans,sans-serif;
    margin-left: 10px;
    padding: 2px 6px;
    position: relative;
}
.skill-outer h4 span::before {
    right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #fff;
	border-width: 5px;
	margin-top: -5px;
}

.progress, .progress-bar {
    box-shadow: none;
    height: 6px;
}
.progress {
    background: #d2d2d2 none repeat scroll 0 0;
    border-radius: 15px;
    margin: 0;
}
.progress-bar {
    background: #1a242e none repeat scroll 0 0;
}

.copyright {
   
    font-size: 13px;
    padding: 30px 0;
}

.red {
    color: #f00;
    display: inline-block;
    padding: 0 4px;
}

.footer-background ul {
    margin-top: 30px;
}
.footer-background ul li {
    display: inline-block;
}
.footer-background ul li a {
    background: #141414 none repeat scroll 0 0;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font: italic 900 13px "Titillium Web",serif;
    letter-spacing: 1px;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: all 0.1s linear 0s;
}
.footer-background ul li a:focus, .footer-background ul li a:hover {
    background: #323232 none repeat scroll 0 0;
}